In [3]:
import sys
sys.path.append("../src")

import pandas as pd

import plotly.graph_objs as go
import plotly.offline as py

import utilities as u
import constants as c

In [25]:
dfg = pd.read_excel("../data/data.xlsx", "trans_m", index_col=0)

In [26]:
dfg = u.dfs.fix_df_trans(dfg)

In [27]:
from plots import plots_comparison as plots

In [34]:
type_trans = "Expenses"
fig = plots.ts_gradient(dfg, type_trans)

In [35]:
df = u.dfs.group_df_by(dfg[dfg[c.cols.TYPE] == "Expenses"], "M")

In [40]:
min_size, max_width = 3, 5

mdict = {c.names.INCOMES: "green", c.names.EXPENSES: "red"}
color_name = mdict[type_trans]

data = []

min_year, max_year = min(df.index.year), max(df.index.year)

for year in sorted(set(df.index.year), reverse=False):

    if year == max_year:
        index_color = 900
    else:
        index_color = max(100, 600 - 200*(max_year - year))

    color = u.get_colors([(color_name, index_color)])

    data.append(
        go.Scatter(
            x=df[df.index.year == year].index.month,
            y=df[df.index.year == year][c.cols.AMOUNT].values,
            line={"width": min(0.5*(year - min_year) + 1, max_width)},
            marker={"color": color, "size": year - min_year + min_size},
            name=year
        )
    )

layout = go.Layout(title="Time comparison ({})".format(type_trans))

In [41]:
py.plot(data)

'file://C:\\PYTHON\\expensor\\notebooks\\temp-plot.html'

In [68]:
df.head(10)

            Amount
Month_date
2011-12-01  194.03
2012-01-01  236.73
2012-02-01  317.09
2012-03-01  334.39
2012-04-01  323.32
2012-05-01  286.73
2012-06-01  320.51
2012-07-01  489.99
2012-08-01  412.18
2012-09-01  206.70

In [86]:
avg_month = 6
df_aux = df.rolling(avg_month).mean()

df_aux.head(10)

                Amount
Month_date
2011-12-01         NaN
2012-01-01         NaN
2012-02-01         NaN
2012-03-01         NaN
2012-04-01         NaN
2012-05-01  282.048333
2012-06-01  303.128333
2012-07-01  345.338333
2012-08-01  361.186667
2012-09-01  339.905000

In [72]:
df.loc[mfilter, c.cols.AMOUNT]

Month_date
2011-12-01    194.03
2012-01-01    236.73
2012-02-01    317.09
2012-03-01    334.39
2012-04-01    323.32
Name: Amount, dtype: float64

In [74]:
for x in range(avg_month):
    print(df.index[x], df.)

2011-12-01 00:00:00
2012-01-01 00:00:00
2012-02-01 00:00:00
2012-03-01 00:00:00
2012-04-01 00:00:00
2012-05-01 00:00:00

In [76]:
df[df.index <= df.index[3]]

            Amount
Month_date
2011-12-01  194.03
2012-01-01  236.73
2012-02-01  317.09
2012-03-01  334.39

In [77]:
df.index[3]

Timestamp('2012-03-01 00:00:00')

In [81]:
df_aux.index[avg_month - 1]

Timestamp('2012-05-01 00:00:00')

In [90]:
for x in range(avg_month - 1):
    df_aux = df[df.index <= df.index[x]]
    print(df.index[x], x, df_aux.shape[1], df_aux[c.cols.AMOUNT].sum()/(x + 1))

2011-12-01 00:00:00 0 1 194.03
2012-01-01 00:00:00 1 1 215.38000000000002
2012-02-01 00:00:00 2 1 249.2833333333333
2012-03-01 00:00:00 3 1 270.55999999999995
2012-04-01 00:00:00 4 1 281.11199999999997

In [92]:
df.rolling(avg_month, min_periods=1).mean().head()

                Amount
Month_date
2011-12-01  194.030000
2012-01-01  215.380000
2012-02-01  249.283333
2012-03-01  270.560000
2012-04-01  281.112000