In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("../sample_data/data.csv", sep=";", index_col=0)
df["Date"] = pd.to_datetime(df["Date"])
df

               Note  Amount   Category       Date
ID
 1.0      Apartment  -500.0       Rent 2017-01-01
 2.0      Apartment  -500.0       Rent 2017-01-02
 3.0      Apartment  -500.0       Rent 2017-01-03
 4.0      Apartment  -500.0       Rent 2017-01-04
 5.0      Apartment  -500.0       Rent 2017-01-05
 6.0      Apartment  -500.0       Rent 2017-01-06
 7.0      Apartment  -500.0       Rent 2017-01-07
 8.0      Apartment  -500.0       Rent 2017-01-08
 9.0      Apartment  -500.0       Rent 2017-01-09
 10.0     Apartment  -500.0       Rent 2017-01-10
 11.0     Apartment  -500.0       Rent 2017-01-11
 12.0     Apartment  -500.0       Rent 2017-01-12
 13.0     Apartment  -500.0       Rent 2018-01-01
 14.0     Apartment  -500.0       Rent 2018-01-02
 15.0     Apartment  -500.0       Rent 2018-01-03
 16.0     Apartment  -500.0       Rent 2018-01-04
 17.0   Supermarket   -42.0       Food 2017-03-01
 18.0    Restaurant   -56.0       Food 2017-01-16
 19.0    Restaurant   -36.0       Food 2017-01-27
 20.0   Supermarket   -50.0       Food 2017-02-15
 21.0    Restaurant   -45.0       Food 2017-02-24
 22.0    Restaurant   -37.0       Food 2017-07-03
 23.0   Supermarket   -39.0       Food 2017-03-21
 24.0    Restaurant   -33.0       Food 2017-05-04
 25.0   Supermarket   -44.0       Food 2017-04-16
 26.0   Supermarket   -46.0       Food 2017-04-05
 27.0    Restaurant   -36.0       Food 2017-05-17
 28.0   Supermarket   -53.0       Food 2017-05-29
 29.0   Supermarket   -48.0       Food 2017-11-06
 30.0   Supermarket   -55.0       Food 2017-06-29
...             ...     ...        ...        ...
 79.0           NaN  1200.0     Salary 2017-01-09
 80.0           NaN  1200.0     Salary 2017-01-10
 81.0           NaN  1200.0     Salary 2017-01-11
 82.0           NaN  1200.0     Salary 2017-01-12
 83.0           NaN  1200.0     Salary 2018-01-01
 84.0           NaN  1200.0     Salary 2018-01-02
 85.0           NaN  1200.0     Salary 2018-01-03
 86.0           NaN  1200.0     Salary 2018-01-04
 87.0           NaN   200.0      Bonus 2018-12-25
 88.0          Fuel    24.0  Transport 2017-01-15
 89.0          Fuel    30.0  Transport 2017-10-02
 90.0          Fuel    16.0  Transport 2017-02-17
 91.0          Fuel    11.0  Transport 2017-03-20
 92.0          Fuel    37.0  Transport 2017-03-27
 93.0          Fuel    22.0  Transport 2017-04-18
 94.0          Fuel    27.0  Transport 2017-05-23
 95.0          Fuel    32.0  Transport 2017-06-20
 96.0          Fuel    43.0  Transport 2017-07-29
 97.0          Fuel    18.0  Transport 2017-09-08
 98.0          Fuel    19.0  Transport 2017-05-09
 99.0          Fuel    19.0  Transport 2017-11-10
 100.0         Fuel    13.0  Transport 2017-10-30
 101.0         Fuel    23.0  Transport 2017-11-18
 102.0         Fuel    22.0  Transport 2017-03-12
 103.0         Fuel    35.0  Transport 2017-12-24
 104.0         Fuel    38.0  Transport 2018-01-02
 105.0         Fuel    48.0  Transport 2018-02-16
 106.0         Fuel    13.0  Transport 2018-02-03
 107.0         Fuel    10.0  Transport 2018-10-04
NaN             NaN     NaN        NaN        NaT

[108 rows x 4 columns]

In [6]:
df.Event.unique()

array(['No'], dtype=object)