In [3]:
import sys
sys.path.append("../src")

import pandas as pd

import plotly.graph_objs as go
import plotly.offline as py

import utilities as u
import constants as c

In [95]:
dfg = pd.read_excel("../data/data.xlsx", "liquid_m", index_col=0)

In [96]:
dfg

,Total,CC - Caixa enginyers,Diposit - Caixa enginyers,C. sin nómina - ING,C. nómina - ING,C. Naranja - ING,Diposit - ING,DeGiro líquid,Kraken líquid,Bunq,Revolut
Date,,,,,,,,,,,
2011-12-01,NaN,43.42,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01,NaN,89.23,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-01,NaN,353.79,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-03-01,NaN,553.06,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-01,NaN,534.36,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-01,NaN,875.41,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-06-01,NaN,939.98,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-07-01,NaN,637.97,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-08-01,NaN,346.19,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-09-01,NaN,293.29,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-01,NaN,60.00,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-11-01,NaN,39.05,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-01,NaN,111.30,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01,NaN,196.01,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-01,NaN,39.16,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-01,NaN,27.60,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-01,NaN,198.26,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-01,NaN,528.91,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-06-01,NaN,720.90,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-01,NaN,1349.97,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-08-01,NaN,768.04,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-01,NaN,411.74,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-10-01,NaN,222.75,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-01,NaN,163.81,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-01,NaN,129.63,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01,NaN,121.27,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-01,NaN,119.01,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-01,NaN,216.63,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-01,NaN,334.28,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-01,NaN,479.90,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2016-02-01,NaN,496.24,NaN,793.08,NaN,1000.11,NaN,867.02,NaN,NaN,NaN
2016-03-01,NaN,511.24,NaN,842.03,NaN,1500.25,NaN,1880.07,NaN,NaN,NaN
2016-04-01,NaN,511.24,NaN,598.44,NaN,1500.45,NaN,805.10,NaN,NaN,NaN
2016-05-01,NaN,511.24,NaN,986.51,NaN,2500.28,NaN,1317.51,NaN,NaN,NaN
2016-06-01,NaN,511.24,NaN,994.56,NaN,2500.31,NaN,1494.27,NaN,NaN,NaN
2016-07-01,NaN,511.24,NaN,2688.57,NaN,3000.37,NaN,1710.55,NaN,NaN,NaN
2016-08-01,NaN,1011.24,NaN,1874.28,NaN,3000.78,NaN,1825.09,NaN,NaN,NaN
2016-09-01,NaN,1063.99,NaN,2521.22,NaN,2000.38,NaN,2190.65,NaN,NaN,NaN
2016-10-01,NaN,763.99,NaN,2133.92,NaN,2000.66,NaN,2191.02,NaN,NaN,NaN
2016-11-01,NaN,302.25,NaN,2201.04,NaN,2000.93,NaN,2808.15,NaN,NaN,NaN
2016-12-01,NaN,305.15,NaN,2986.51,NaN,3000.33,NaN,3420.91,NaN,NaN,NaN
2017-01-01,NaN,305.15,NaN,2215.59,NaN,4000.28,NaN,3169.48,NaN,NaN,NaN
2017-02-01,NaN,1075.15,NaN,2565.00,NaN,4000.53,NaN,3165.54,NaN,NaN,NaN
2017-03-01,NaN,1075.15,NaN,1863.43,NaN,4000.81,NaN,3926.97,NaN,NaN,NaN
2017-04-01,NaN,1075.15,NaN,629.80,NaN,4301.09,NaN,2918.96,NaN,20.1,NaN
2017-05-01,NaN,1075.15,NaN,2096.07,NaN,4701.41,NaN,2922.89,NaN,20.1,NaN
2017-06-01,NaN,1075.15,NaN,1124.24,NaN,5101.41,NaN,2715.05,NaN,20.1,134.29
2017-07-01,NaN,1075.15,NaN,2197.21,NaN,4501.74,NaN,4737.45,NaN,20.1,453.50
2017-08-01,NaN,1085.15,NaN,1668.04,NaN,4902.06,NaN,4740.13,NaN,20.1,431.26
2017-09-01,NaN,1093.15,NaN,2466.93,NaN,5302.39,NaN,4538.30,160.93,0.1,414.04
2017-10-01,NaN,1093.15,NaN,1409.83,NaN,4702.74,NaN,4338.62,144.29,0.1,2010.14
2017-11-01,NaN,1093.15,NaN,1589.51,NaN,3003.10,NaN,4077.09,186.13,200.1,1958.33
2017-12-01,NaN,1093.15,NaN,2504.20,NaN,4000.00,NaN,3860.89,419.06,0.1,1950.33
2018-01-01,NaN,1093.15,NaN,2766.43,NaN,4400.11,NaN,3724.52,22.11,0.1,1950.33
2018-02-01,NaN,1093.15,NaN,2421.93,NaN,5800.26,NaN,3341.27,191.91,0.1,1899.64
2018-03-01,NaN,1093.15,NaN,922.27,1560.05,6200.41,NaN,3306.48,311.78,0.1,1879.98
2018-04-01,NaN,1093.15,NaN,747.02,1971.84,6600.62,NaN,3311.19,261.70,0.1,1797.12
2018-05-01,NaN,1093.15,NaN,2206.45,2195.23,5000.84,NaN,3318.17,NaN,0.1,2529.45
2018-06-01,NaN,1093.15,NaN,2502.50,1111.57,5401.06,NaN,3631.20,211.62,0.1,2163.41
2018-07-01,NaN,1093.15,NaN,2045.20,1478.51,6801.24,NaN,3337.69,211.62,0.1,2158.58