In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../sample_data/data.csv", sep=";", index_col=0)
df

,Note,Amount,Category,Account,Currency,Date,Event,Exclude Report
ID,,,,,,,,
2019,Consum,-18.17,Menjar,Personal,EUR,10/04/2018,No,NaN
2018,Sym,-4.35,Gasolina,Personal,EUR,09/04/2018,No,NaN
2016,Sopar japo,-8.00,Menjar,Personal,EUR,07/04/2018,No,NaN
2015,Esmorzar,-3.00,Menjar,Personal,EUR,07/04/2018,No,NaN
2017,Beer cala,-3.50,Bar,Personal,EUR,07/04/2018,No,NaN
2013,Cistella verdures,-5.00,Menjar,Personal,EUR,05/04/2018,No,NaN
2014,Quota MSF,-40.00,Quotes,Personal,EUR,05/04/2018,No,NaN
2010,Airbnb mende,-160.66,Viatges,Personal,EUR,02/04/2018,No,NaN
1827,Sopar Pickwick,-12.30,Menjar,Personal,EUR,30/03/2018,No,NaN
1828,Beer passadís,-1.80,Bar,Personal,EUR,30/03/2018,No,NaN
1826,Ganxo taula,-4.66,Objectes,Personal,EUR,29/03/2018,No,NaN
1663,Consum,-39.48,Menjar,Personal,EUR,28/03/2018,No,NaN
1661,Sym,-3.70,Gasolina,Personal,EUR,28/03/2018,No,NaN
1664,Lentilles,-92.50,Salut,Personal,EUR,28/03/2018,No,NaN
1668,A2: certificat mèdic,-35.00,Estudis,Personal,EUR,28/03/2018,No,NaN
1667,A2: foto carnet,-1.50,Estudis,Personal,EUR,28/03/2018,No,NaN
1666,A2: taxa trànsit,-91.20,Estudis,Personal,EUR,28/03/2018,No,NaN
1665,Carnet A2,-178.00,Estudis,Personal,EUR,28/03/2018,No,NaN
1662,Esmorzar,-2.30,Menjar,Personal,EUR,27/03/2018,No,NaN
1505,Kebab,-6.00,Menjar,Personal,EUR,25/03/2018,No,NaN
1504,Beer borinots,-1.00,Bar,Personal,EUR,25/03/2018,No,NaN
1503,Beer borinots,-9.00,Bar,Personal,EUR,25/03/2018,No,NaN
82,T-trimestre (part proporcional mensual),-65.50,Transport,Personal,EUR,25/03/2018,No,NaN
1342,Berenar,-1.30,Menjar,Personal,EUR,24/03/2018,No,NaN
1341,Pastís fruites,-3.50,Menjar,Personal,EUR,24/03/2018,No,NaN
1340,Esmorzar,-1.20,Menjar,Personal,EUR,24/03/2018,No,NaN
2012,Cistella verdures,-7.50,Menjar,Personal,EUR,22/03/2018,No,NaN
1339,ITV Sym,-21.11,Moto,Personal,EUR,22/03/2018,No,NaN
1338,Consum,-17.67,Menjar,Personal,EUR,19/03/2018,No,NaN
1337,Calçotada Furies,-10.48,Menjar,Personal,EUR,18/03/2018,No,NaN
...,...,...,...,...,...,...,...,...
37,Poema,19.80,Familia,Personal,EUR,26/12/2011,No,NaN
27,McDonald's,-3.00,Menjar,Personal,EUR,26/12/2011,No,NaN
24,Ovella negra,-15.00,Bar,Personal,EUR,26/12/2011,No,NaN
26,Guardaropia,-3.00,Lleure,Personal,EUR,26/12/2011,No,NaN
25,Merlin,-12.00,Lleure,Personal,EUR,26/12/2011,No,NaN
23,Liberty,-4.00,Gasolina,Personal,EUR,23/12/2011,No,NaN
22,NaN,-4.50,Bar,Personal,EUR,22/12/2011,No,NaN
21,NaN,-2.00,Bar,Personal,EUR,21/12/2011,No,NaN
36,Aleix,15.00,Classes,Personal,EUR,20/12/2011,No,NaN
18,Suc,-0.80,Menjar,Personal,EUR,20/12/2011,No,NaN
16,2 T10,-16.50,Transport,Personal,EUR,20/12/2011,No,NaN
19,Encuadernar,-1.70,Estudis,Personal,EUR,20/12/2011,No,NaN
17,Impressions,-8.50,Estudis,Personal,EUR,20/12/2011,No,NaN
20,Lotería espurna,-3.00,Altres,Personal,EUR,20/12/2011,No,NaN
14,Cala,-8.00,Bar,Personal,EUR,18/12/2011,No,NaN
15,Impressió finestres,-10.00,Estudis,Personal,EUR,18/12/2011,No,NaN
12,Pasta,-0.80,Menjar,Personal,EUR,17/12/2011,No,NaN
11,Fanta i doritos,-1.75,Menjar,Personal,EUR,17/12/2011,No,NaN
13,Liberty,-2.40,Gasolina,Personal,EUR,17/12/2011,No,NaN
35,Laia,15.00,Classes,Personal,EUR,16/12/2011,No,NaN
10,NaN,-3.40,Bar,Personal,EUR,15/12/2011,No,NaN
9,Dinar uni,-6.59,Menjar,Personal,EUR,12/12/2011,No,NaN
7,NaN,-10.00,Bar,Personal,EUR,11/12/2011,No,NaN
5,Cala,-11.00,Bar,Personal,EUR,10/12/2011,No,NaN
8,Liberty,-3.99,Gasolina,Personal,EUR,10/12/2011,No,NaN
33,Laia,15.00,Classes,Personal,EUR,09/12/2011,No,NaN
34,Rosita,20.00,Familia,Personal,EUR,06/12/2011,No,NaN
4,Cala,-13.10,Bar,Personal,EUR,04/12/2011,No,NaN
6,Laia,15.00,Classes,Personal,EUR,02/12/2011,No,NaN
3,Cala,-5.60,Bar,Personal,EUR,02/12/2011,No,NaN

In [6]:
df.Event.unique()

array(['No'], dtype=object)