In [1]:
import sys
sys.path.append("../src")

import utilities as u
import constants as c

In [4]:
df = u.uos.get_df(c.os.FILE_DATA_SAMPLE)

In [5]:
df

            Note  Amount   Category       Date      Month  Year Type
ID
1      Apartment     500       Rent 2017-01-01 2017-01-01  2017    E
2      Apartment     500       Rent 2017-02-01 2017-02-01  2017    E
3      Apartment     500       Rent 2017-03-01 2017-03-01  2017    E
4      Apartment     500       Rent 2017-04-01 2017-04-01  2017    E
5      Apartment     500       Rent 2017-05-01 2017-05-01  2017    E
6      Apartment     500       Rent 2017-06-01 2017-06-01  2017    E
7      Apartment     500       Rent 2017-07-01 2017-07-01  2017    E
8      Apartment     500       Rent 2017-08-01 2017-08-01  2017    E
9      Apartment     500       Rent 2017-09-01 2017-09-01  2017    E
10     Apartment     500       Rent 2017-10-01 2017-10-01  2017    E
11     Apartment     500       Rent 2017-11-01 2017-11-01  2017    E
12     Apartment     500       Rent 2017-12-01 2017-12-01  2017    E
13     Apartment     500       Rent 2018-01-01 2018-01-01  2018    E
14     Apartment     500       Rent 2018-02-01 2018-02-01  2018    E
15     Apartment     500       Rent 2018-03-01 2018-03-01  2018    E
16     Apartment     500       Rent 2018-04-01 2018-04-01  2018    E
17   Supermarket      42       Food 2017-01-03 2017-01-01  2017    E
18    Restaurant      56       Food 2017-01-16 2017-01-01  2017    E
19    Restaurant      36       Food 2017-01-27 2017-01-01  2017    E
20   Supermarket      50       Food 2017-02-15 2017-02-01  2017    E
21    Restaurant      45       Food 2017-02-24 2017-02-01  2017    E
22    Restaurant      37       Food 2017-03-07 2017-03-01  2017    E
23   Supermarket      39       Food 2017-03-21 2017-03-01  2017    E
24    Restaurant      33       Food 2017-04-05 2017-04-01  2017    E
25   Supermarket      44       Food 2017-04-16 2017-04-01  2017    E
26   Supermarket      46       Food 2017-05-04 2017-05-01  2017    E
27    Restaurant      36       Food 2017-05-17 2017-05-01  2017    E
28   Supermarket      53       Food 2017-05-29 2017-05-01  2017    E
29   Supermarket      48       Food 2017-06-11 2017-06-01  2017    E
30   Supermarket      55       Food 2017-06-29 2017-06-01  2017    E
..           ...     ...        ...        ...        ...   ...  ...
78           NaN    1200     Salary 2017-08-01 2017-08-01  2017    I
79           NaN    1200     Salary 2017-09-01 2017-09-01  2017    I
80           NaN    1200     Salary 2017-10-01 2017-10-01  2017    I
81           NaN    1200     Salary 2017-11-01 2017-11-01  2017    I
82           NaN    1200     Salary 2017-12-01 2017-12-01  2017    I
83           NaN    1200     Salary 2018-01-01 2018-01-01  2018    I
84           NaN    1200     Salary 2018-02-01 2018-02-01  2018    I
85           NaN    1200     Salary 2018-03-01 2018-03-01  2018    I
86           NaN    1200     Salary 2018-04-01 2018-04-01  2018    I
87           NaN     200      Bonus 2017-12-25 2017-12-01  2017    I
88          Fuel      24  Transport 2017-01-15 2017-01-01  2017    E
89          Fuel      30  Transport 2017-02-10 2017-02-01  2017    E
90          Fuel      16  Transport 2017-02-17 2017-02-01  2017    E
91          Fuel      11  Transport 2017-03-20 2017-03-01  2017    E
92          Fuel      37  Transport 2017-03-27 2017-03-01  2017    E
93          Fuel      22  Transport 2017-04-18 2017-04-01  2017    E
94          Fuel      27  Transport 2017-05-23 2017-05-01  2017    E
95          Fuel      32  Transport 2017-06-20 2017-06-01  2017    E
96          Fuel      43  Transport 2017-07-29 2017-07-01  2017    E
97          Fuel      18  Transport 2017-08-09 2017-08-01  2017    E
98          Fuel      19  Transport 2017-09-05 2017-09-01  2017    E
99          Fuel      19  Transport 2017-10-11 2017-10-01  2017    E
100         Fuel      13  Transport 2017-10-30 2017-10-01  2017    E
101         Fuel      23  Transport 2017-11-18 2017-11-01  2017    E
102         Fuel      22  Transport 2017-12-03 2017-12-01  2017    E
103         Fuel      35  Transport 2017-12-24 2017-12-01  2017    E
104         Fuel      38  Transport 2018-02-01 2018-02-01  2018    E
105         Fuel      48  Transport 2018-02-16 2018-02-01  2018    E
106         Fuel      13  Transport 2018-03-02 2018-03-01  2018    E
107         Fuel      10  Transport 2018-04-10 2018-04-01  2018    E

[107 rows x 7 columns]