In [1]:
import sys
sys.path.append("../src")

import plotly.graph_objs as go
import plotly.offline as py

import utilities as u
import constants as c

In [2]:
df = u.uos.get_df(c.os.FILE_DATA_SAMPLE)

In [10]:
def pie(dfg, type_trans, years=None):

    df = u.dfs.filter_data(dfg, years, c.cols.YEAR)
    df = df[df[c.cols.TYPE] == type_trans]
    
    df = df.groupby(c.cols.CATEGORY).sum()
    
    data = [go.Pie(values=df[c.cols.AMOUNT], labels=df.index)]
    
    py.plot(data)

pie(df, c.names.EXPENSES, 2018)

In [5]:
u.dfs.filter_data(df, [2017, 2018], c.cols.YEAR)

,Note,Amount,Category,Date,Month_date,Month,Year,Type
ID,,,,,,,,
1,Apartment,500,Rent,2017-01-01,2017-01-01,1,2017,Expenses
2,Apartment,500,Rent,2017-02-01,2017-02-01,2,2017,Expenses
3,Apartment,500,Rent,2017-03-01,2017-03-01,3,2017,Expenses
4,Apartment,500,Rent,2017-04-01,2017-04-01,4,2017,Expenses
5,Apartment,500,Rent,2017-05-01,2017-05-01,5,2017,Expenses
6,Apartment,500,Rent,2017-06-01,2017-06-01,6,2017,Expenses
7,Apartment,500,Rent,2017-07-01,2017-07-01,7,2017,Expenses
8,Apartment,500,Rent,2017-08-01,2017-08-01,8,2017,Expenses
9,Apartment,500,Rent,2017-09-01,2017-09-01,9,2017,Expenses
10,Apartment,500,Rent,2017-10-01,2017-10-01,10,2017,Expenses
11,Apartment,500,Rent,2017-11-01,2017-11-01,11,2017,Expenses
12,Apartment,500,Rent,2017-12-01,2017-12-01,12,2017,Expenses
13,Apartment,500,Rent,2018-01-01,2018-01-01,1,2018,Expenses
14,Apartment,500,Rent,2018-02-01,2018-02-01,2,2018,Expenses
15,Apartment,500,Rent,2018-03-01,2018-03-01,3,2018,Expenses
16,Apartment,500,Rent,2018-04-01,2018-04-01,4,2018,Expenses
17,Supermarket,42,Food,2017-01-03,2017-01-01,1,2017,Expenses
18,Restaurant,56,Food,2017-01-16,2017-01-01,1,2017,Expenses
19,Restaurant,36,Food,2017-01-27,2017-01-01,1,2017,Expenses
20,Supermarket,50,Food,2017-02-15,2017-02-01,2,2017,Expenses
21,Restaurant,45,Food,2017-02-24,2017-02-01,2,2017,Expenses
22,Restaurant,37,Food,2017-03-07,2017-03-01,3,2017,Expenses
23,Supermarket,39,Food,2017-03-21,2017-03-01,3,2017,Expenses
24,Restaurant,33,Food,2017-04-05,2017-04-01,4,2017,Expenses
25,Supermarket,44,Food,2017-04-16,2017-04-01,4,2017,Expenses
26,Supermarket,46,Food,2017-05-04,2017-05-01,5,2017,Expenses
27,Restaurant,36,Food,2017-05-17,2017-05-01,5,2017,Expenses
28,Supermarket,53,Food,2017-05-29,2017-05-01,5,2017,Expenses
29,Supermarket,48,Food,2017-06-11,2017-06-01,6,2017,Expenses
30,Supermarket,55,Food,2017-06-29,2017-06-01,6,2017,Expenses
...,...,...,...,...,...,...,...,...
167,Gym,34,Health,2017-10-01,2017-10-01,10,2017,Expenses
168,Gym,34,Health,2017-11-01,2017-11-01,11,2017,Expenses
169,Gym,34,Health,2017-12-01,2017-12-01,12,2017,Expenses
170,Gym,34,Health,2018-01-01,2018-01-01,1,2018,Expenses
171,Gym,34,Health,2018-02-01,2018-02-01,2,2018,Expenses
172,Gym,34,Health,2018-03-01,2018-03-01,3,2018,Expenses
173,Gym,34,Health,2018-04-01,2018-04-01,4,2018,Expenses
174,Drugs,30,Health,2017-04-20,2017-04-01,4,2017,Expenses
175,Drugs,80,Health,2017-07-04,2017-07-01,7,2017,Expenses
176,Drugs,60,Health,2017-08-08,2017-08-01,8,2017,Expenses
177,Drugs,20,Health,2018-02-17,2018-02-01,2,2018,Expenses
178,Weekend,55,Travel,2017-01-20,2017-01-01,1,2017,Expenses
179,Weekend,51,Travel,2017-02-26,2017-02-01,2,2017,Expenses
180,Weekend,75,Travel,2017-04-04,2017-04-01,4,2017,Expenses
181,Weekend,64,Travel,2017-05-05,2017-05-01,5,2017,Expenses
182,Weekend,66,Travel,2017-06-22,2017-06-01,6,2017,Expenses
183,Weekend,59,Travel,2017-07-31,2017-07-01,7,2017,Expenses
184,Holidays,680,Travel,2017-08-28,2017-08-01,8,2017,Expenses
185,Weekend,97,Travel,2017-09-18,2017-09-01,9,2017,Expenses
186,Weekend,56,Travel,2017-10-09,2017-10-01,10,2017,Expenses
187,Weekend,78,Travel,2017-11-26,2017-11-01,11,2017,Expenses
188,Weekend,99,Travel,2017-12-20,2017-12-01,12,2017,Expenses
189,Weekend,53,Travel,2018-02-07,2018-02-01,2,2018,Expenses
190,Clothes,240,Shopping,2017-02-03,2017-02-01,2,2017,Expenses
191,Motobike repair,544,Others,2017-03-29,2017-03-01,3,2017,Expenses
192,Fine,200,Others,2017-03-06,2017-03-01,3,2017,Expenses
193,Taxes,80,Others,2017-04-06,2017-04-01,4,2017,Expenses
194,Christmas presents,250,Others,2017-12-10,2017-12-01,12,2017,Expenses
195,TV,450,Shopping,2018-02-13,2018-02-01,2,2018,Expenses
196,Motobike,1500,Others,2017-01-12,2017-01-01,1,2017,Expenses